*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 0;
    transition: all 0.5s ease;
}

body,h1{
    font-family: sans-serif;
    position: relative;
}

h1{
    text-align: center;
    color: brown;
}

body{
    background-image: linear-gradient(to bottom right, rgba(79,51,176,1),rgba(210,53,165));
}

.container{
    height: 10vh;
    width: 10vw;
    display: grid;
    position: relative;
}

.calculator{
    position: relative;
    height: auto;
    width: auto;
    padding: 20px;
    border-radius: 10px;
}

button{
    height: 45px;
    width: 45px;
    border: 0;
    border-radius: 30px;
    margin: 5px;
    font-size: 20px;
    cursor: pointer;
    transition: all200ms ease;
}

#card{
    color: aquamarine;
}



